#pythLogo {
    width: 49px;
    height: 49px;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.pythTitle {
    display: flex;
    justify-content: center;
    margin-top: 41px;
    gap: 25px;
}

.cardContainer {
    gap: 30px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}