.pythonContainer {
    gap: 100px;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    height: 400px;
}

.questionBox {
    border-radius: 8px;
    background: #505054;
    height: 380px;
    width: 400px;
    padding: 7px 30px 30px 30px;
    font-family: Apple SD Gothic Neo;
}

.removeGreen {
    color: #8EFFC9;
}

#elementsTitle {
    color: white;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.65px;
    margin-top: 15px;
}